// vars
#colors() {
  white: rgba(255,255,255,1);
  border: rgba(229,229,229,1);
  grey: rgba(242,242,242,1);
}

#fontsizes() {
  px18: 18px;
  normal: 16px;
}

//
.experts-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #colors[white];
  margin-top: 30px;
  text-align: left;
  padding-left: 10px;
  //letter-spacing: 1px;
}

/// columns
.experts-left {
  float:left;
  clear: left;
}

.experts-right {
  float: left;
  clear: right;
}

/// card
.card {
  background: #colors[white];
  border: 1px solid #colors[border];
}

.card-nav{
  .card();
  width: 210px;
  height: 410px;
  //margin-left: 180px; // to left-most page edge.
  font-weight: 400;
  line-height: 14px;
  //position: relative;
}

.card-expert-details {
  .card();
  width: 470px;
}

.card-title {
  // //width: 210px;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: #fontsizes[px18];
  color: rgba(51,51,51,1);  // font color
  background: #colors[grey];
  border-bottom: 1px solid #colors[border];
}

.card-title-p40 {
  .card-title();
  padding-left: 40px;
}

.card-title-p10 {
  .card-title();
  padding-left: 10px;

  img {
    width: 26px;
    height: 33px;
  }

  .card-title-text {
    padding-left: 10px;
  }
}



.card-body-nav {
  padding-left: 40px;
  font-size: #fontsizes[normal];
  li {
    margin-top: 30px;
  }
}

// grid
.experts-grid {
  padding-left: 20px;
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  grid-row-gap: 30px;
  grid-column-gap: 20px;
}


.card-body-listitem {

  li {
    //border: 1px solid; // debug
    height: 80px;
    margin-top: 10px;
    display: flex;
    //justify-content: center;
    .img-order{
      float: left;
      width: 26px;
      height: 34px;
      margin: auto 10px; // make vertical center
    }

    .img-icon {
      float: left;
      margin: auto 10px;
      width: 52px;
      height: 52px;
      border-radius: 26px;
      //border: 1px solid;
    }

    .content {
      float: left;
      margin: auto 10px;
      .title {
        font-size: #fontsizes[px18];
        font-weight: 400;
        color: rgba(51,51,51,1);
        line-height: 24px;
      }
      .subTitle {
        font-size: 14px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 24px;
      }
    }

    .score {
      margin: auto;
      margin-right: 20px;
      float: right;
      font-size: 20px;
      font-weight: 400;
      //line-height: 24px;
      color: rgba(230,78,59,1);
      //vertical-align: middle;
    }
  } // li
} // .card-body-listitem 

