

.flex1{
    flex:1;
}

.flexAlignCenter{
    display: flex;
    align-items: center;
}

.flexAllCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBetween{
    .flexAlignCenter;
    justify-content: space-between;
}

.page_body {
    margin-top: 10px;
}

.bannerContent{
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    .banner1{
        background: url('../../assets/images/bg.png') no-repeat;
        width: 100%;
        height: 400px;
        position: absolute;
        animation: translateIn 8s;
        animation-iteration-count: infinite;
    }
    .banner2{
        background: url('../../assets/images/banner1Bg.png') no-repeat;
        width: 100%;
        height: 400px;
        position: absolute;
        animation: translateOut 8s;
        animation-iteration-count: infinite;
    }
    @keyframes translateIn {
        0% {
            left: 0px;
        }
        40% {
            left: 0px;
        }
        50%{
            left: 2000px;
        }
        90%{
            left: 2000px;
        }
        100%{
            left: 0px;
        }
    }
    @keyframes translateOut {
        0% {
            right: 2000px;
        }
        40% {
            right: 2000px;
        }
        44%{
            right: 0px;
        }
        96%{
            right: 0px;
        }
        100%{
            right: 2000px;
        }
    }
}

.banner_about {
    position: relative;
    height: 360px;
    background: url(../../assets/images/banner-about.jpg) center;

    .banner_text {
        width: 410px;
        margin: 0 auto;
        text-align: center;
        padding-top: 175px;
        color: white;
        line-height: 1.5;

        p {
            font-size: 1.1rem;
        }
    }
}

.mainBody {
    margin: 0 15%;

    .right_box_title {
        border-bottom: 1px solid #E64E3B;

        div {
            height: 46px;
            line-height: 46px;
            color: #fff;
            font-size: 24px;
            width: 200px;
            text-align: center;
            background: #E64E3B;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 46px solid #E64E3B;
                border-right: 46px solid transparent;
                right: -46px;
            }
        }
    }

    .all_lottery {
        .flexBetween;
        flex-wrap: wrap;
        border: 1px solid #E5E5E5;
        border-top: 0;
        padding: 10px;
        margin-bottom: 60px;
    }

    .lotteryItem {
        width: 46%;
        background-color: #F7F7F7;
        padding: 12px;
        margin: 10px 0;
        .lotteryBaseInfo{
            .flexAlignCenter;
            margin-bottom: 15px;

            .detail{
                font-size: 14px;
                color: #027BEC;
                cursor: pointer;
            }

            .flexBetween1{
                .flexBetween;
                flex: 1;
            }

            img{
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }
        }

        .resultList{
            .flexAlignCenter;
            flex-wrap: wrap;
            padding: 10px 40px;
            .redBall{
                .flexAllCenter;
                margin: 5px;
                width: 34px;
                height: 34px;
                background-color: #E64E3B;
                border-radius: 20px;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .blueBall{
              .redBall;
              background-color: #027BEC;
            }
        }
        .priceInfo {
            // .flexAlignCenter;
            font-size: 14px;
            color: #333333;
            font-weight: 500;
            .price_pool{
                .flexBetween;
                margin-top: 13px
            }
        }
        .priceNum{
            .flexAlignCenter;
            margin-bottom: 10px;
        }
    }

    .info_title {
        .flexBetween;
        border-bottom: 1px solid #E64E3B;
        padding: 0 50% 20px 0;

        .selectedInfo {
            color: #333333;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            color: #999999;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .infoItem {
        .flexAlignCenter;
        width: 46%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #E6E6E6;
        font-size: 12px;

        .title{
            font-size: 18px;
            color: #191919;
            font-weight: 500;
        }
        .descript{
            color: #313131;
            margin-top: 10px;
            white-space: normal;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .readMore{
            color: #E64E3B;
            margin-top: 10px;
        }
        .from{
            color: #999999;
            margin-top: 10px;
        }

        img{
            width: 120px;
            height: 133px;
            margin-right: 15px;
        }
        div{
            text-align: left;
        }
    }

}

.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #3E3E3E;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.downloadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;

    .downloadBg{
        .flexAllCenter;
        background:url('../../assets/images/downloadBg.png') no-repeat;
        background-size: contain;
        width: 400px;
        height: 450px;

        .downloadDiv{
            background-color: white;
            margin-top: 20px;
            padding:6px 6px 4px 6px;
            border-radius: 3px;
        }
    }

    img{
        width: 40px;
        height: 40px;
    }
}